# PyCity Schools Analysis
* bullet 1
* bullet 2
* bullet 3

In [1]:
#dependencies
import pandas as pd
from IPython.core.display import display, HTML
display(HTML('<style>.container {width: 100% !important}</style>'))

#files
school_file = '/Users/sophiasaavedra/Desktop/ucb ext data analytics/pandas homework/pandas-challenge/PyCitySchools/Resources/schools_complete.csv'
student_file = '/Users/sophiasaavedra/Desktop/ucb ext data analytics/pandas homework/pandas-challenge/PyCitySchools/Resources/students_complete.csv'

# Read School and Student Data File and store into Pandas DataFrames
school_list = pd.read_csv(school_file)
student_list = pd.read_csv(student_file)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_list, school_list, how="left", on=["school_name", "school_name"])

# Display the DataFrame
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [2]:
# Calculate the total number of unique schools
school_count =  len(school_data_complete.school_name.unique())

#Display value
school_count

15

In [3]:
# Calculate the total number of students
student_count =  len(school_data_complete.student_name)

#Display value
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_list.budget.sum()

#Display value
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete.math_score.mean()

#Display value
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete.reading_score.mean()

#Display value
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

#Display value
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

#Display value
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

#Display value
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
data = {'Total Schools':school_count, 'Total Students':student_count, 'Total Budget':total_budget, 'Average Math Score':average_math_score, 'Average Reading Score':average_reading_score, '% Passing Math':passing_math_percentage, '% Passing Reading':passing_reading_percentage, '% Overall Passing':overall_passing_rate}
district_summary = pd.DataFrame([data])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [11]:
# Use the code provided to select the school type
school_types = school_data_complete.set_index(["school_name"])["type"]
school_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [12]:
# Calculate the total student count
per_school_count = school_data_complete.set_index(["school_name"])["size"]
per_school_count

school_name
Huang High School     2917
Huang High School     2917
Huang High School     2917
Huang High School     2917
Huang High School     2917
                      ...
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Thomas High School    1635
Name: size, Length: 39170, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_count
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [14]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [15]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = per_school_math >= 70
school_passing_math

school_name
Bailey High School       True
Cabrera High School      True
Figueroa High School     True
Ford High School         True
Griffin High School      True
Hernandez High School    True
Holden High School       True
Huang High School        True
Johnson High School      True
Pena High School         True
Rodriguez High School    True
Shelton High School      True
Thomas High School       True
Wilson High School       True
Wright High School       True
Name: math_score, dtype: bool

In [16]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = per_school_reading >= 70
school_passing_reading

school_name
Bailey High School       True
Cabrera High School      True
Figueroa High School     True
Ford High School         True
Griffin High School      True
Hernandez High School    True
Holden High School       True
Huang High School        True
Johnson High School      True
Pena High School         True
Rodriguez High School    True
Shelton High School      True
Thomas High School       True
Wilson High School       True
Wright High School       True
Name: reading_score, dtype: bool

In [17]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = (per_school_math >= 70) & (per_school_reading >= 70)
passing_math_and_reading
#school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

school_name
Bailey High School       True
Cabrera High School      True
Figueroa High School     True
Ford High School         True
Griffin High School      True
Hernandez High School    True
Holden High School       True
Huang High School        True
Johnson High School      True
Pena High School         True
Rodriguez High School    True
Shelton High School      True
Thomas High School       True
Wilson High School       True
Wright High School       True
dtype: bool

In [18]:
# Use the provided code to calculate the passing rates
# percentage of students who passed math in each school
# Use the provided code to calculate the passing rates
school_data_complete["passing_math"] = school_data_complete["math_score"] >= 70
school_data_complete["passing_reading"] = school_data_complete["reading_score"] >= 70
school_data_complete["passing_math_and_reading"] = (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)

math_passes = school_data_complete.groupby(["school_name"])["passing_math"].value_counts().unstack(fill_value=0)[True]
reading_passes = school_data_complete.groupby(["school_name"])["passing_reading"].value_counts().unstack(fill_value=0)[True]
math_and_reading_passes = school_data_complete.groupby(["school_name"])["passing_math_and_reading"].value_counts().unstack(fill_value=0)[True]

per_school_passing_math = math_passes / per_school_count * 100
per_school_passing_reading = reading_passes / per_school_count * 100
overall_passing_rate = math_and_reading_passes / per_school_count * 100

#clean up duplicates
school_types.drop_duplicates()
per_school_count.drop_duplicates()
per_school_passing_math.drop_duplicates()
per_school_passing_reading.drop_duplicates()
overall_passing_rate.drop_duplicates()

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [19]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading,passing_math_and_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True

In [27]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
info = {"School Name":school_data_complete["school_name"], "School Type":school_data_complete["type"], "Total Students":school_data_complete["size"]}
#"Per Student Budget":per_school_capita
#"Total School Budget":school_data_complete[per_school_budget]
#"Per Student Budget":per_school_capita, 
#"Average Math Score":per_school_math, 
#"Average Reading Score":per_school_reading, 
#"% Passing Math":per_school_passing_math, 
#"% Passing Reading":per_school_passing_reading, 
#"% Overall Passing":overall_passing_rate



info_2 = {"Total School Budget":per_school_budget, "Per Student Budget":per_school_capita, "Average Math Score":per_school_math, "Average Reading Score":per_school_reading, 
                  "% Passing Math":per_school_passing_math, "% Passing Reading":per_school_passing_reading, "% Overall Passing":overall_passing_rate}
#per_school_summary = pd.DataFrame(info)
per_school_summary_2 = pd.DataFrame(info_2)

#"School Name":school_name,
# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
#per_school_summary
per_school_summary_2

/var/folders/nk/v1nvx0hn05ldp5gz6p0pg3280000gn/T/ipykernel_84901/3099652315.py:17: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  per_school_summary_2 = pd.DataFrame(info_2)

ValueError: cannot reindex on an axis with duplicate labels

# Highest-Performing Schools (by % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

# Lowest-Performing Schools (by % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

# Math Scores by Grade

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

SyntaxError: invalid syntax (3766233734.py, line 8)

# Reading Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

# Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

# Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

# Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary